*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rostley PERSONAL USE ONLY';
    src: url(../css/Rostley_PERSONAL_USE_ONLY.otf);
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #0F0F0F;
    height: 108px;
    align-items: center;
    padding-inline: 10px;
    z-index: 200;

}


#logo{

    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #00B2EA;
    text-decoration:none;
}


.navbar-text{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #FFFFFF;

}

.left-navbar{
    display:flex;
    width: 50%;
    justify-content: space-between;
    align-items:center;
}

.right-navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

#profile-picture{
    background: #D9D9D9;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.fanart-bg{
    background-image: url(../css/World-1.png);
    width: 100%;
    height: 2923px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;
}

.submit-box{
    width: 976.62px;
    height: 542px;
    margin-top: 10vh;
    background: linear-gradient(180.37deg, #030822 0.32%, rgba(3, 8, 34, 0) 856%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    margin-bottom: 152px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.submit-title{
    position: relative;
    width: 300px;
    height: 120px;
    padding-top: 3vh;
    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    margin-bottom: 1.25vh;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.discord{
    display: flex;
    justify-content: center;
    
}

#discord-image{
    width: 75%;
    height: auto;
}

.submit-sub{
    width: 70%;
    height: auto;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    margin-top: 5%;
    color: #FFFFFF;

}

.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.box-1-left{
    width: 447px;
    height: 568px;
    margin-right: 8vh;
    background: linear-gradient(180deg, #030822 0%, rgba(3, 8, 34, 0) 1063.91%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-1-right{
    width: 447px;
    height: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #030822 0%, rgba(3, 8, 34, 0) 1063.91%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;

}

#box-art{
   
    width: 292px;
    height: 429px;


    background: url(2022-01-22-Valere-by-2022-01-22-Valere-by-Luke-Fon-Fabre.jpg);
}

.box-1-text{
    width: 100%;
    height: auto;
    margin-top: 2vh;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;

}

.footer-bg{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 208px;
    background: #0F0F0F;
}



#footer-title{
    position: absolute;
    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    padding-top: 37px;

    color: #00B2EA;
}

#footer-subtitle{
    position: absolute;
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding-top: 115px;
    padding-bottom: 24;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1000px){
    
    .box-1-left{
        width: 400px;
        height: 500px;
    }
    
    .box-1-right{
        width: 400px;
        height: 500px;
    }
    
    #box-art{
        width: 250px;
        height: 400px;
    }
    
    .box-1-text{
        font-size: 20px;
    }
}

@media (max-width: 990px){
    .submit-box{
        width: 800px;
        height: 500px;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 96px;
    }
    

    .submit-sub{
        font-size: 20px;
    }
}

@media (max-width: 899px){
    
    .box-1-left{
        width: 350px;
        height: 450px;
    }
    
    .box-1-right{
        width: 350px;
        height: 450px;
    }
    
    #box-art{
        width: 200px;
        height: 350px;
    }
    
    .box-1-text{
        font-size: 20px;
    }
}

@media (max-width: 808px){
    .submit-box{
        width: 750px;
        height: 450px;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 96px;
    }
    

    .submit-sub{
        font-size: 15px;
        transform: translateY(-4vh);
    }
}

@media (max-width: 792px){
    
    .box-1-left{
        width: 300px;
        height: 400px;
    }
    
    .box-1-right{
        width: 300px;
        height: 400px;
    }
    
    #box-art{
        width: 150px;
        height: 300px;
    }
    
    .box-1-text{
        font-size: 20px;
    }
}

@media (max-width: 781px){
    .submit-box{
        width: 700px;
        height: 400px;
    }
    #discord-image{
        width: 50%;
        height: auto;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 85px;
    }
    

    .submit-sub{
        font-size: 15px;
        transform: translateY(-4vh);
    }
}

@media (max-width: 708px){
    .submit-box{
        width: 650px;
        height: 350px;
    }
    #discord-image{
        width: 50%;
        height: auto;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 80px;
    }
    

    .submit-sub{
        font-size: 15px;
        transform: translateY(-4vh);
    }

    .box-1-left{
        width: 250px;
        height: 350px;
    }
    
    .box-1-right{
        width: 250px;
        height: 350px;
    }
    
    #box-art{
        width: 150px;
        height: 250px;
    }
    
    .box-1-text{
        font-size: 20px;
    }

}

@media (max-width: 657px){
    .submit-box{
        width: 600px;
        height: 300px;
    }
    #discord-image{
        width: 25%;
        height: auto;
        padding-bottom: 6vh;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 70px;
    }
    

    .submit-sub{
        font-size: 15px;
        transform: translateY(-4vh);
    }

}

@media (max-width: 609px){
    .submit-box{
        width: 550px;
        height: 250px;
    }
    #discord-image{
        width: 25%;
        height: auto;
        padding-bottom: 6vh;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 60px;
    }
    

    .submit-sub{
        font-size: 12px;
        transform: translateY(-7vh);
    }

}

@media (max-width: 556px){
    .submit-box{
        width: 500px;
        height: 200px;
    }
    #discord-image{
        width: 25%;
        height: auto;
        padding-bottom: 6vh;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    

    .submit-sub{
        font-size: 8px;
        transform: translateY(-9vh);
    }

    
    .box-1-left{
        width: 200px;
        height: 300px;
    }
    
    .box-1-right{
        width: 200px;
        height: 300px;
    }
    
    #box-art{
        width: 125px;
        height: 200px;
    }
    
    .box-1-text{
        font-size: 15px;
    }

}


@media (max-width: 510px){
    .submit-box{
        width: 400px;
        height: 200px;
    }
    #discord-image{
        width: 25%;
        height: auto;
        padding-bottom: 6vh;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 30px;
        
    }
    

    .submit-sub{
        font-size: 10px;
        transform: translateY(-8vh);
        
    }

    
    .box-1-left{
        width: 150px;
        height: 250px;
    }
    
    .box-1-right{
        width: 150px;
        height: 250px;
    }
    
    #box-art{
        width: 100px;
        height: 150px;
    }
    
    .box-1-text{
        font-size: 12px;
    }

}

@media (max-width: 411px){
    .submit-box{
        width: 300px;
        height: 200px;
    }
    #discord-image{
        width: 25%;
        height: auto;
        padding-bottom: 6vh;
    }
    
    .submit-title{
        display: flex;
        justify-content: center;
        font-size: 30px;
        
    }
    

    .submit-sub{
        font-size: 8px;
        transform: translateY(-8vh);
        
    }

    
    .box-1-left{
        width: 125px;
        height: 200px;
    }
    
    .box-1-right{
        width: 125px;
        height: 200px;
    }
    
    #box-art{
        width: 100px;
        height: 125px;
    }
    
    .box-1-text{
        font-size: 9px;
    }

}