
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rostley PERSONAL USE ONLY';
    src: url(../css/Rostley_PERSONAL_USE_ONLY.otf);
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #0F0F0F;
    height: 108px;
    align-items: center;
    padding-inline: 10px;
    z-index: 200;

}

#logo{

    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #00B2EA;
    text-decoration:none;
}


.navbar-text{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #FFFFFF;

}

.left-navbar{
    display:flex;
    width: 50%;
    justify-content: space-between;
    align-items:center;
}

.right-navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

#profile-picture{
    background: #D9D9D9;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.register-bg{
    width: 100%;
    height: 56.40625vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(179.6deg, #030822 0.35%, rgba(3, 8, 34, 0) 1150.08%);
}

.register-content{
    display: flex;
    justify-content: center;
    align-items: center;
}



.register-left{
  
    width: 25vw;
    height: 73vh;


    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register-right{

    background-image: url(../css/registerart.png);
    width: 25vw;
    height: 73vh;
    background-position: center,top;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}