*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rostley PERSONAL USE ONLY';
    src: url(../css/Rostley_PERSONAL_USE_ONLY.otf);
}



header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100%-20px);
    background: #0F0F0F;
    height: 108px;
    align-items: center;
    padding-inline: 10px;
    z-index: 200;

}

#logo{

    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #00B2EA;
    text-decoration:none;
}


.navbar-text{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #FFFFFF;

}

.left-navbar{
    display:flex;
    width: 50%;
    justify-content: space-between;
    align-items:center;
}

.right-navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

#profile-picture{
    background: #D9D9D9;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}




.valere-bg{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../css/valbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.val-left{
    z-index: 1;
    
}

.val-left img{
    width: 100%;
    height: auto;
}

.val-right{

    z-index: 2;
    width: 50%;
}

.val-text{
    transform: translateX(1vw) translateY(11vh);
}

.val-name{
    width: 100%;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;

    color: #FFFFFF;
}

.val-title{
    position: relative;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    
   

    color: #00B2EA;
}

.upright{
    position: relative;
    transform: translateX(15vw) translateY(-15vh);
    padding-left: 9vw;
    padding-top: 6vh;
    margin-right:10vw;
}

.upright img{
    width: 6.510416666666667vw;
    
}

.val-down{
    transform: translateX(1vw) translateY(-25vh);
    margin-right: 10vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;

    color: #FFFFFF;
}

#zale{
    position: center bottom;
}

#garl{
    position: center bottom;
}

.kotak{
    width: 5.78vw;
    height: 11.45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    background: #00A3FF;
}

.kotak2{
    width: 5.78vw;
    height: 11.45vh;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D22222;
}

.kotak3{
    width: 5.78vw;
    height: 11.45vh;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0BAB38;
}

.val-up{
    display: flex;
}

footer{
    position: relative;
}

.footer-bg{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 208px;
    background: #0F0F0F;
}



#footer-title{
    position: absolute;
    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    padding-top: 37px;

    color: #00B2EA;
}

#footer-subtitle{
    position: absolute;
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding-top: 115px;
    padding-bottom: 24;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@media (max-width : 1128px){
    #logo{
        font-size: 10px;
    }
    
    
    .navbar-text{
        font-size: 10px;
    }

    #profile-picture{
        width: 60px;
        height: 60px;

    }
}
@media (max-width: 1144px){
    .navbar-text{

        font-size: 28px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and  (max-width: 855px){
    .navbar-text{

        font-size: 24px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and (max-width: 712px){
    .navbar-text{

        font-size: 20px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and  (max-width: 590px){
    .navbar-text{

        font-size: 15px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and (max-width: 450px){
    .navbar-text{

        font-size: 12px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and (max-width: 360px){
    .navbar-text{

        font-size: 10px;
    
    }

    #logo{
        font-family: 'Rostley PERSONAL USE ONLY';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: #00B2EA;
        text-decoration:none;
    }
}

@media only screen and (max-width:697px){

    
    
    
    #footer-title{

        font-size: 30px;
    

    }
    
    #footer-subtitle{

     

        font-size: 10px;
      
 
    }
}



@media only screen and (max-width:1876px){
    .upright{
        position: relative;
        transform: translateX(9vw) translateY(-15vh);
    }

    .val-down{
        transform: translateX(-3vw) translateY(-25vh);
        font-size: 20px;
    }

    .val-name{
        transform: translateX(-4vw) ;
        font-size: 90px;
   
    }
    
    .val-title{
        font-size: 40px;
        transform: translateX(-4vw) ;
  
    }
}

@media only screen and (max-width:1553px){
    .upright{
        position: relative;
        transform: translateX(9vw) translateY(-10vh);
    }

    .val-down{
        transform: translateX(-3vw) translateY(-25vh);
        font-size: 20px;
    }

    .val-name{
        transform: translateX(-4vw) ;
        font-size: 90px;
   
    }
    
    .val-title{
        font-size: 40px;
        transform: translateX(-4vw) ;
  
    }
}

@media only screen and (max-width:1307px){
    .upright{
        position: relative;
        transform: translateX(5vw) translateY(-10vh);
    }

    .val-down{
        transform: translateX(-3vw) translateY(-25vh);
        font-size: 20px;
    }

    .val-name{
        transform: translateX(-4vw) ;
        font-size: 90px;
   
    }
    
    .val-title{
        font-size: 40px;
        transform: translateX(-4vw) ;
  
    }
}

@media only screen and (max-width:1137px){
    .upright{
        position: relative;
        transform: translateX(2vw) translateY(-10vh);
    }

    .val-down{
        transform: translateX(-3vw) translateY(-25vh);
        font-size: 20px;
    }

    .val-name{
        transform: translateX(-4vw) ;
        font-size: 90px;
   
    }
    
    .val-title{
        font-size: 40px;
        transform: translateX(-4vw) ;
  
    }
}

@media only screen and (max-width:1037px){
    .upright{
        position: relative;
        transform: translateX(2vw) translateY(-10vh);
    }

    .val-down{
        transform: translateX(-3vw) translateY(-25vh);
        font-size: 20px;
    }

    .val-name{
        transform: translateX(-4vw) ;
        font-size: 70px;
   
    }
    
    .val-title{
        font-size: 30px;
        transform: translateX(-4vw) ;
  
    }
}

@media only screen and (max-width:997px){
    .upright{
        position: relative;
        transform: translateX(2vw) translateY(-10vh);
    }

    .val-down{
        transform: translateX(-5vw) translateY(-25vh);
        font-size: 10px;
    }

    .val-name{
        transform: translateX(-6vw) ;
        font-size: 60px;
   
    }
    
    .val-title{
        font-size: 20px;
        transform: translateX(-6vw) ;
  
    }
}

@media only screen and (max-width:699px){
    .upright{
        position: absolute;
        transform: translateX(-40vw) translateY(26vh);
        
    }

    .val-down{
        position: relative;
        transform: translateX(-5vw) translateY(2vh);
        font-size: 10px;
        margin-bottom: 10vh;
    }

    .val-name{
        transform: translateX(-6vw) translateY(-10vh) ;
        font-size: 40px;
   
    }
    
    .val-title{
        font-size: 15px;
        transform: translateX(-6vw) translateY(-10vh);
  
    }

    .kotak{

        margin-right: 2vw;
    }
    
    .kotak2{

        margin-right: 2vw;
    }
    .footer-bg{
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 300vh;
        background: #0F0F0F;
    }
    #topper{
        display: flex;
        list-style-type:none;
    }

}

@media only screen and (max-width:453px){
    .upright{
        position: absolute;
        transform: translateX(-40vw) translateY(23vh);
        
    }

    .val-down{
        position: relative;
        transform: translateX(-5vw) translateY(2vh);
        font-size: 10px;
        margin-bottom: 10vh;
    }

    .val-name{
        transform: translateX(-6vw) translateY(-10vh) ;
        font-size: 40px;
   
    }
    
    .val-title{
        font-size: 15px;
        transform: translateX(-6vw) translateY(-10vh);
  
    }

    .kotak{

        margin-right: 2vw;
    }
    
    .kotak2{

        margin-right: 2vw;
    }
    .footer-bg{
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 300vh;
        background: #0F0F0F;
    }
    #topper{
        display: flex;
        list-style-type:none;
    }

}

@media only screen and (max-width:453px){
    .upright{
        position: absolute;
        transform: translateX(-40vw) translateY(23vh);
        
    }

    .val-down{
        position: relative;
        transform: translateX(-5vw) translateY(2vh);
        font-size: 10px;
        margin-bottom: 10vh;
    }

    .val-name{
        transform: translateX(-6vw) translateY(-10vh) ;
        font-size: 40px;
   
    }
    
    .val-title{
        font-size: 15px;
        transform: translateX(-6vw) translateY(-10vh);
  
    }

    .kotak{

        margin-right: 2vw;
    }
    
    .kotak2{

        margin-right: 2vw;
    }
    .footer-bg{
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 40vh;
        background: #0F0F0F;
    }
    #topper{
        display: flex;
        list-style-type:none;
    }

}

@media only screen and (max-width:373px){
    .upright{
        position: absolute;
        transform: translateX(-40vw) translateY(-11vh);
        
    }

    .val-down{
        position: relative;
        transform: translateX(-5vw) translateY(2vh);
        font-size: 10px;
        margin-bottom: 10vh;
    }

    .val-name{
        transform: translateX(-6vw) translateY(-10vh) ;
        font-size: 40px;
   
    }
    
    .val-title{
        font-size: 15px;
        transform: translateX(-6vw) translateY(-10vh);
  
    }

    .kotak{

        margin-right: 2vw;
    }
    
    .kotak2{

        margin-right: 2vw;
    }
    .footer-bg{
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 40vh;
        background: #0F0F0F;
    }
    #topper{
        display: flex;
        list-style-type:none;
    }

}