*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rostley PERSONAL USE ONLY';
    src: url(../css/Rostley_PERSONAL_USE_ONLY.otf);
}



header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: calc(100%-20px);
    background: #0F0F0F;
    height: 108px;
    align-items: center;
    padding-inline: 10px;

}

#logo{

    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #00B2EA;
    text-decoration:none;
}


.navbar-text{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #FFFFFF;

}

.left-navbar{
    display:flex;
    width: 50%;
    justify-content: space-between;
    align-items:center;
}

.right-navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

#profile-picture{
    background: #D9D9D9;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}




.valere-bg{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../css/waltbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.val-left{
    z-index: 1;
    
}

.val-left img{
    width: 100%;
    height: auto;
}

.val-right{

    z-index: 2;
    width: 50%;
}

.val-text{
    transform: translateX(1vw) translateY(11vh);
}

.val-name{
    width: 100%;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;

    color: #FFFFFF;
}

.val-title{
    position: relative;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    
   

    color: #B703F7;
}

.upright{
    position: relative;
    transform: translateX(8.5vw) translateY(-22.36vh);
    padding-left: 9vw;
    padding-top: 6vh;
    margin-right:10vw;
}

.upright img{
    width: 6.510416666666667vw;
    
}

.val-down{
    transform: translateX(1vw) translateY(-25vh);
    margin-right: 10vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;

    color: #FFFFFF;
}

#walt{
    transform: scale(2);
}

#zale{
    position: center bottom;
}

#garl{
    position: center bottom;
}

.kotak{
    width: 5.78vw;
    height: 11.45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    background: #B703F7;
}

.kotak2{
    width: 5.78vw;
    height: 11.45vh;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0BAB38;

}

.kotak3{
    width: 5.78vw;
    height: 11.45vh;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0094FF;
}

.val-up{
    display: flex;
}

footer{
    position: relative;
}

.footer-bg{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 208px;
    background: #0F0F0F;
}



#footer-title{
    position: absolute;
    font-family: 'Rostley PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    padding-top: 37px;

    color: #00B2EA;
}

#footer-subtitle{
    position: absolute;
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding-top: 115px;
    padding-bottom: 24;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}